<div class="container-fluid bg">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-4">
      <app-header [header]="'Options Page'"></app-header>
    </div>
  </div>

  <div class="container py-5">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <form [formGroup]="radioGroupForm">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
            <label ngbButtonLabel class="btn-warning btn-lg frame">
              <input ngbButton type="radio" value="1"> Addition <span class="sr-only">Addition Option</span>
            </label>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <form [formGroup]="radioGroupForm">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
            <label ngbButtonLabel class="btn-warning btn-lg frame">
              <input ngbButton type="radio" value="2"> Subtraction <span class="sr-only">Subtraction Option</span>
            </label>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <form [formGroup]="radioGroupForm">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
            <label ngbButtonLabel class="btn-warning btn-lg frame">
              <input ngbButton type="radio" value="3"> Multiplication <span class="sr-only">Multiplication Option</span>
            </label>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 d-flex justify-content-center">
        <app-button [route]="'/title'" [btnName]="'Home'"><span class="sr-only">Home Button</span></app-button>
      </div>
    </div>
  </div>
</div>