<div class="container-fluid solid">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-2">
      <app-header id='rules' [header]="'Game Rules'"></app-header>
    </div>
  </div>
  <div class="row">

    <div class="col d-flex justify-content-center">
      <img src="assets/gameRulesBg.png" alt="Rules Page background image" class="img-fluid">
    </div>

  </div>
  <div class="row pt-4">
    <div class="col d-flex justify-content-center">
      <h4>You will have 30 seconds to answer each question.
        <br> Answer as many as you can, GOOD LUCK!
      </h4>
    </div>
  </div>
  <!--    <div class="row">
        <div class="col d-flex justify-content-center">
         <h4>Earn as many points as you can!</h4>
        </div>
      </div> -->
  <!------------------------------------Back Home Btn---------------------------->
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-2">
      <app-button [route]="'/title'" [btnName]="'Back Home'"><span class="sr-only">Home Button</span></app-button>
    </div>
  </div>
</div>